.container {
    background-color: #302f2f;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    display: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
    margin-top: 10rem;
}


.habilidades-container {
    text-align: center;
    width:100%;
    padding: 20px;
}

.habilidad {
    margin: 20px 0;
    display: flex;
    align-items: center;
    opacity: 0; /* Configura la opacidad a 0 para la animación de entrada */
    animation: fadeIn 2s ease-in-out forwards; /* Animación de entrada */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nombre-habilidad {
    flex: 1;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    color: #4caf50;
    margin-right: 25px; /* Espacio entre el nombre y la imagen */
}

.imagen-separada {
    width: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 15%; /* Espacio entre la imagen y la barra de progreso */
}

.barra-progreso {
    flex: 2;
    background-color: #333;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progreso {
    height: 100%;
    border-radius: 10px;
    background-color: #4caf50;
    position: absolute;
    left: 0;
    top: 0;
}

/* Establece el ancho de la barra de progreso según el porcentaje deseado */
.progreso {
    width: var(--porcentaje); /* Ancho basado en la variable --porcentaje */
}

.porcentaje {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    width: 100%;
}






@media (max-width: 768px) {
    .container {
        width: 100%; 
    }

    .habilidad {
        margin-right: 2%;
        display: flex;
        flex-direction: row;
    }

    .nombre-habilidad {
        text-align: center; 
        margin-right: 0; 
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .imagen-separada {
        display: none;
        margin-right: 0; 
        margin-bottom: rem;
    }

    .barra-progreso {
        margin-top: 10px; 
    }
    .porcentaje {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    width: 0%;
}


}